@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  background: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Gotham Pro"; /* Название шрифта (можете задать любое) */
  src: url("../assets/fonts/gothampro_light.ttf") format("truetype"); /* Путь к файлу */
  font-weight: 300; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}
@font-face {
  font-family: "Brotesk"; /* Название шрифта (можете задать любое) */
  src: url("../assets/fonts/Brotesk (Trial) Semibold.otf") format("opentype"); /* Путь к файлу */
  font-weight: 500; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}
@font-face {
  font-family: "Gotham Pro"; /* Название шрифта (можете задать любое) */
  src: url("../assets/fonts/gothampro_medium.ttf") format("truetype"); /* Путь к файлу */
  font-weight: 500; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}
@font-face {
  font-family: "Gotham Pro"; /* Название шрифта (можете задать любое) */
  src: url("../assets/fonts/gothampro_bold.ttf") format("truetype"); /* Путь к файлу */
  font-weight: bold; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}
body {
  color: #292929;
  font-family: "Gotham Pro", sans-serif;
  background: #fff;
  font-weight: 300;
  font-size: 16px;
}

.container {
  margin: auto;
  max-width: 1170px;
}

.header {
  padding: 42px 0 0 0;
}

.header-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 407px;
  justify-content: right;
  padding-bottom: 40px;
}

.header-links {
  margin-top: 9px;
  display: flex;
  gap: 28px;
}

.header-list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 26px 0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.header-list li a {
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 300;
}

.footer {
  margin-top: 60px;
  background: #151515;
  padding: 40px 0 33px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper {
  display: flex;
  gap: 39px;
}

.footer-desc {
  margin-top: 27px;
  font-size: 12px;
  line-height: 115%;
  color: #fff;
  font-weight: 300;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  max-width: 100px;
  width: 100px;
}

.footer-list li a {
  font-weight: 300;
  line-height: 115%;
  color: #fff;
}

.footer-images {
  display: flex;
  gap: 31px;
  margin-top: 39px;
}

.footer-first {
  display: flex;
  gap: 70px;
}

.footer-second {
  display: flex;
  gap: 30px;
}

.footer-third {
  width: 323px;
}

.footer-third .footer-list {
  max-width: 323px;
  width: 323px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 299px;
  width: 100%;
}

.aside-block {
  display: flex;
  gap: 30px;
}

.aside-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.aside-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 115%;
  margin-top: 10px;
}

.info {
  margin-top: 53px;
}

.info img {
  width: 100%;
}

.info .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.info-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
  color: #292929;
  max-width: 780px;
}

.info-data {
  line-height: 115%;
  font-weight: 300;
}

.info-content {
  margin-top: 11px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.info-list {
  display: flex;
  flex-direction: column;
}

.info-list li span:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 115%;
}

.info-list li span:nth-child(2) {
  font-weight: 300;
  font-size: 16px;
  line-height: 115%;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 50px auto 0;
}

.article {
  max-width: 770px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.article-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
  color: #292929;
}

.article-desc {
  line-height: 125%;
  font-weight: 300;
}

.article-desc span {
  font-size: 20px;
  font-weight: 500;
}

.article-tabs {
  display: flex;
  gap: 11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.article-tabs li {
  padding: 10px 15px;
  border-radius: 50px;
  background: #f2f2f2;
}

.article-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.article-images {
  display: flex;
  gap: 31px;
}

.article-links__desc {
  font-weight: 500;
  line-height: 125%;
}

.article-photo {
  display: flex;
  justify-content: space-between;
}

.article-photo div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article-photo span {
  line-height: 115%;
  font-weight: 300;
}



/*# sourceMappingURL=article.css.map */
