//contacts

@import "style";

.contacts {
  margin-top: 53px;

  &-wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  &-title {
    @include title;
  }

  &-desc {
    margin-top: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 115%;

    span {
      font-weight: 500;
      font-size: 20px;
    }

    a {
      display: block;
      font-weight: 300;
    }
  }

  &-links {
    margin-top: 15px;

    .contacts-link {
      display: block;
      font-weight: 500;
      font-size: 20px;

    }
  }

  &-form {
    max-width: 570px;
    width: 100%;
  }

  &-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }

  &-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;

    input {
      @include input;
      font-family: "Gotham Pro", sans-serif;
    }

    textarea {
      @include textarea;
      height: 84px;
      font-family: "Gotham Pro", sans-serif ;
    }
  }

  &-info {
    margin-top: 22px;
    display: flex;
    gap: 13px;

    label {
      font-size: 8px;
      line-height: 110%;
      color: #000;
      font-weight: 300;
    }
  }

  &-btn {
    padding: 10px 0 9px;
    @include btn;
  }

}

//team

.team {
  margin-top: 60px;

  &-title {
    @include title;
    text-align: center;
    margin: 0 auto;
  }

  &-list {
    margin-top: 58px;
    display: flex;
    gap: 54px 30px;
    flex-wrap: wrap;

    li {
      max-width: 270px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      span:first-child {
        line-height: 120%;
        font-weight: 300;
      }

      span:nth-child(2) {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
      }
    }
  }
}

@media screen and (max-width: 1068px) {
  .contacts {
    margin-top: 40px;

    &-desc {
      font-size: 12px;

      span {
        font-size: 16px;
      }
    }

    &-links {

      .contacts-link {
        font-size: 16px;
      }
    }

    &-form {
      max-width: 350px;
    }

    &-subtitle {
      font-size: 12px;
    }

    &-data {
      margin-top: 10px;
    }

    &-info {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

  }

  //team

  .team {
    margin-top: 50px;

    &-list {
      margin-top: 30px;
      gap: 25px 10px;

      li {
        max-width: 168px;

        span:first-child {
          font-size: 10px;
        }

        span:nth-child(2) {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    margin-top: 54px;

    &-wrapper {
      flex-wrap: wrap;
      gap: 50px;
    }

    &-form {
      max-width: 320px;
    }

    &-info {
      gap: 20px;
    }

  }

  //team

  .team {
    &-title {
      text-align: left  ;
    }

    &-list {
      margin-top: 20px;
      gap: 20px;

      li {
        max-width: 270px;

        span:first-child {
          font-size: 12px;
        }

        span:nth-child(2) {
          font-size: 16px;
        }
      }
    }
  }
}